*{
  margin:0;
  border:border-box;
  font-family:Arial, Helvetica, sans-serif;
}
.navbar{
  height:60px;
  background-color:#0f1111;
  color:white;
  display:flex;
  align-items:center;
  justify-content:space-evenly;


}
.navlogo{
  height:50px;
  width:100px;
}
.logo{
  background-image:url(logo.png);
  height:50px;
  width:100px;
  background-size:cover;
}
.border{
  border:1.5px solid transparent;
}
.border:hover{
  border:1.5px solid white;
}
.navaddress{
  height:50px;
  width:100px;
  flex-direction:column;
  display:flex;
  align-items:center;
  justify-content:center;
}
.addfirst{
color:#cccccc;
margin-left :10px;
font-size:0.8rem;
}
.addsecond{
color:white;
font-size:1rem;
}
.addicon{
  display:flex;
  align-items:center;
  
}

/* box 3 */
.navsearch{
  height:40px;
  width:620px;
  display:flex;
  justify-content:space-evenly;
  border-radius:4px;
  background-color:white;
  font-size:medium;
}
.navsearch:hover{
  border:2px solid orange;
}

.select{
  background-color:#f3f3f3;
  width:50px;
  text-align:center;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  border:none;
}
.searchinput{
  font-size:1rem;
  width:100%;
  border:none;
}

.searchicon{
  border:none;
  width:50px;
  justify-content:center;
  align-items:center;
  display:flex;
  background-color:#febd69;
  font-size:1.2rem;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
  color:black;
}
.signfirst{
  font-size:0.8rem;
}
.signsecond{
  font-size:1rem;
  font-weight:bold;
}
.returnfirst{
  font-size:0.8rem;
}
.returnsecond{
  font-size:1rem;
  font-weight:bold;
}

/* Box 5 */
.navcart i{
  font-size:30px;

}
.navcart{
font-weight:bold;
font-size:1rem;
}

/* Panel */
.panel{
  display:flex;
  justify-content:space-evenly;
  height:40px;
  background-color:#222f3d;
  color:white;
  align-items:center;
  
}

.panel-ops p{
  height:50px;
  width:50px;
  display:inline;
  margin-left:15px;
  padding:10px 12px;
}
.panel-ops{
  width:70%;
  font-size:0.92rem;
}
.paneldeals{
  font-size:1rem;
 padding:8px 10px;
}

.panelall{
  font-size:1rem;
  padding:8px 10px;
}

/* Hero Section  */
.hero{
  background-image:url(hero.jpg);
  height:300px;
  background-size:cover;
  display:flex;
 
  justify-content:center;
  align-items:flex-end;
}
.heromsg{
  color:cornsilk;
  background-color:#4E055d;
  height:40px;
  align-items:center;
  justify-content:center;
  display:flex;
  font-size:0.8rem;
  width:80%;
  margin-bottom:20px;
}

/* Content of the page goes here.  */
.shop{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:#c59ae5;
}
.box{
  margin-top:15px;
  width:23%;
  height:400px;
    background-color:rgb(154, 131, 161);
    padding:20px 0px 15px;
}

.box1image{
  background-image: url(Box\ 1.webp);
  height:300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom:1rem;
 
}
.boxcontent{
  margin-left:10px;
  margin-right:10px;
}

.boxcontent p{
  color:#2e032e;
  font-size:1rem;
  font-weight: bold;
}

.box2image{
  background-image: url(Box\ 2.webp);
  height:300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom:1rem;
 
}
.box3image{
  background-image: url(box3.webp);
  height:300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom:1rem;
 
}
.box4image{
  background-image: url(box4.webp);
  height:300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom:1rem;
}
.box5image{
  background-image: url(box5.webp);
  height:300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom:1rem;
}
.box6image{
  background-image: url(box6.webp);
  height:300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom:1rem;
}
.box7image{
  background-image: url(box7.webp);
  height:300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom:1rem;
}
.box8image{
  background-image: url(box8.webp);
  height:300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom:1rem;
}

/* Footer */

footer{
  margin-top: 15px;
  padding:0px 10px;
}
.foot-panel1{
  background-color:#37475a;
color:white;
justify-content: center;
align-items: center;
display: flex;
height: 50px;
font-size:0.85rem;
}

.foot-panel2{
  background-color: #222f3d;
  color:white;
  height:400px;
  display:flex;
  justify-content: space-evenly;
}
ul{
  margin-top:20px;
}
ul a{
  display:block;
  font-size:0.85rem;
  margin-top:10px;
  color:#dddddd;
}


.foot-panel3{
  background-color:#222f3d ;
  color:white;
  border-top: 0.5px solid white;
  height:70px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.foot-panel4{
  background-color: #0f1111;
  color:white;
  height:100px;

}

.pages{
  padding-top: 25px;
  font-size: 0.7rem;
  text-align:center;

}

.copyright{
  padding-top: 5px;;
  font-size: 0.7rem;
  text-align:center;
}

.pages a{
  margin-left:5px;
}